<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <property name="commonsos.log.level" value="${COMMONSOS_LOG_LEVEL:-info}" />
  <property name="commonsos.log.max.history" value="${COMMONSOS_LOG_MAX_HISTORY:-1}" />
  <property name="defaultPattern"
            value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{100} - [%X{ip}][%X{username}][%X{adminEmailAddress}][%X{sessionId}][%X{requestId}] %msg%n"/>

  <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>~/logs/app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>~/logs/app.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
      <maxHistory>${commonsos.log.max.history}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <appender name="app_debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>~/logs/app_debug.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>~/logs/app_debug.%d{yyyy-MM-dd}.zip</fileNamePattern>
      <maxHistory>1</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <appender name="eth" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>~/logs/eth.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>~/logs/eth.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
      <maxHistory>${commonsos.log.max.history}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="app"/>
  </root>
  <logger name="commonsos" level="${commonsos.log.level}">
    <appender-ref ref="app_debug"/>
  </logger>
  <logger name="commonsos.service.blockchain.BlockchainEventService" level="info" additivity="false">
    <appender-ref ref="eth"/>
  </logger>
  <logger name="com.google.inject.internal.ProxyFactory" level="error"/>
</configuration>
