<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <property name="commonsos.log.level" value="${COMMONSOS_LOG_LEVEL:-info}" />
  <property name="defaultPattern"
            value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{100} - [%X{ip}][%X{username}][%X{adminEmailAddress}][%X{sessionId}][%X{requestId}] %msg%n"/>

  <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>../logs/app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>../logs/app.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>

  <appender name="eth" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>../logs/eth.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>../logs/eth.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>

  <logger name="com.google.inject.internal.ProxyFactory" level="error"/>
  <logger name="commonsos.service.blockchain.BlockchainEventService" level="${commonsos.log.level}" additivity="false">
    <appender-ref ref="eth"/>
  </logger>
  <root level="${commonsos.log.level}">
    <appender-ref ref="app"/>
  </root>
</configuration>
