<p>こんにちは、${adminname}さん。</p>

<p>
COMMONS PEOPLEの管理者アカウントを仮登録しました。<br>
24時間以内に下記URLをクリックし、アカウント登録を完了してください。
ログインパスワードは管理者より別途ご連絡します。
</p>

<p>
https://${hostname}/admin/create-admin.html#${accessId}
</p>

<p>
▼本メールに心あたりが無い場合<br>
第三者がメールアドレスを間違えて入力した可能性があります。<br>
お手数ですが、本メールの破棄をお願いします。
</p>

<p>
▼お問い合わせ先<br>
people@nextcommonslab.jp
</p>
