<p>こんにちは、${username}さん。</p>

<p>
アカウント作成はまだ完了していません。<br>
24時間以内に下記URLをクリックし、アカウント作成を完了してください。
</p>

<p>
https://${hostname}/create-account/${accessId}
</p>

<p>
▼本メールに心あたりが無い場合<br>
第三者がメールアドレスを間違えて入力した可能性があります。<br>
お手数ですが、本メールの破棄をお願いします。
</p>

<p>
▼お問い合わせ先<br>
hello@commons.love
</p>
